.header-main-div{
    height: 5rem;
    background-color: aquamarine;
   
}

.header-content-div{
    display: flex;
    position:relative;
    justify-content: center;
    list-style: none;
    height: 100%;
    padding-top: 1rem; 
}

.heading-pokemon{
    position: absolute;
    left: 2rem;
}

.search-bar{
    width: 25rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding-left: 1rem;
}

@media (max-width:620px) {
    .heading-pokemon{
       top:0;
    }
    .search-bar{
        margin-top: 1rem;
    }
}